# Datasets
datasets/*
!datasets/.gitkeep

# Virtual enviroment
.venv/

# Temporary files
*.tmp
*.bak
*.swp
*~

# Python
__pycache__/

# Environment variables
.env

# Weights
*.pt

# Experiments & Logs
runs/
logs/
