fiftyone==1.0.2
fiftyone_brain==0.17.0
fiftyone_db==1.1.1
icrawler==0.6.9
numpy==2.1.3
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==11.0.0
pydantic==2.10.2
PyQt6==6.7.1
PyQt6_sip==13.8.0
PyYAML==6.0.2
scikit_learn==1.4.0
torch==2.1.2+cu118
tqdm==4.66.2
ultralytics==8.3.39
