services:
  prodeye:
    build:
      context: ../../
      dockerfile: docker/ui/Dockerfile

    environment:
      - DISPLAY=${DISPLAY:-:0}
      - QT_X11_NO_MITSHM=1
      - QT_QPA_PLATFORM=xcb
      - YOLO_CONFIG_DIR=/app/.config/Ultralytics

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../../configs:/app/configs
      - ../../weights:/app/weights
      - ultralytics_config:/app/.config/Ultralytics

volumes:
  ultralytics_config:
